<div class="row justify-content-center">
  <div class="col-md-4 register-course">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputName">Name</label>
          <input class="form-control" type="text" formControlName="name">
          <!-- error -->
          <div class="invalid-feedback d-block" *ngIf="submitted && myForm.name.errors?.required">
            Name is required.
          </div>
        </div>




        <div class="form-group">
          <label for="inputVerify3">Chapters</label>
          <input class="form-control" type="text" formControlName="coef">
          <!-- error -->
          <div class="invalid-feedback d-block" *ngIf="submitted && myForm.coef.errors?.required">
            Enter chapter numebers.
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3">Teacher</label>
          <select class="custom-select form-control" (change)="updateProfile($event.target.value)"
            formControlName="teacher">
            <option value="">Pick a teacher</option>
            <option *ngFor="let teacherss of Teacherss" value="{{teacherss}}">{{teacherss}}
            </option>
          </select>
          <!-- error -->
          <div class="invalid-feedback d-block" *ngIf="submitted && myForm.teacher.errors?.required">
            Teahcer is required.
          </div>
        </div>

        <div class="form-group mt-5">
          <button class="btn btn-success btn-lg btn-block" type="submit">Add Course</button>
        </div>


      </form>

    </div>
  </div><!-- form card register -->
</div>

