

<h1> Add a Course </h1>

<form action="">

  <div class="form-group">
    <label for="">Id</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="">Teacher</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="">Coef</label>
    <input type="text" class="form-control">
  </div>


</form>
